body {
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 1px solid #222;
    margin: 0;
    padding: 0;
} 

[data-tab-target] {
    padding: 25px;
    cursor: pointer;
}

.active[data-tab-target] {
    background-color: rgb(203, 225, 238);
}

.tab-content {
    padding: 40px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}